/*	Website Variables  */
:root {
	--primary-font: 'Manrope', sans-serif !important;
	--secondary-font: 'Roboto', sans-serif !important;
	--primary-color: #000000;
	--primary-color2: #ffffff;
	--primary-color-rgb: rgb(31, 39, 56);
	--primary-color-rgba025: rgba(31, 39, 56, .025);
	--primary-color-rgba05: rgba(31, 39, 56, .05);
	--primary-color-rgba075: rgba(31, 39, 56, .075);
	--primary-color-rgba1: rgba(0, 0, 0, 0.65);
	--primary-color-rgba2: rgb(255, 0, 0);
	--primary-color-rgba3: rgba(31, 39, 56, .3);
	--primary-color-rgba4: rgba(31, 39, 56, .4);
	--primary-color-rgba5: rgba(31, 39, 56, .5);
	--primary-color-rgba6: rgba(31, 39, 56, .6);
	--primary-color-rgba7: rgba(31, 39, 56, .7);
	--primary-color-rgba75: rgba(31, 39, 56, .75);
	--primary-color-rgba8: rgba(31, 39, 56, .8);
	--primary-color-rgba9: rgba(31, 39, 56, .9);
	--secondary-color: rgb(0, 0, 0);
	--secondary-color-darker: #1d1de8;
	--secondary-color-rgb: rgb(255, 255, 255);
	--secondary-color-rgba025: rgba(255, 123, 172, .025);
	--secondary-color-rgba05: rgba(255, 123, 172, .05);
	--secondary-color-rgba075: rgba(255, 123, 172, .075);
	--secondary-color-rgba1: rgba(255, 123, 172, .1);
	--secondary-color-rgba2: rgba(255, 123, 172, .2);
	--secondary-color-rgba3: rgba(255, 123, 172, .3);
	--secondary-color-rgba4: rgba(255, 123, 172, .4);
	--secondary-color-rgba5: rgba(34, 247, 6, 0.918);
	--secondary-color-rgba6: rgba(255, 123, 172, .6);
	--secondary-color-rgba7: rgba(255, 123, 172, .7);
	--secondary-color-rgba8: rgba(255, 123, 172, .8);
	--secondary-color-rgba9: rgba(255, 123, 172, .9);
	--terciary-color: #6FB1E1;
	--border-color: #EAEBEE;
}
/*  Body  
==================================================================================== */
body {-webkit-font-smoothing: antialiased;color: var(--primary-color-rgba1);background: #FFFFFF;}
body, p, span, strong, small, ul, li, a {font-family: var(--secondary-font);}
h1, h2, h3, h4, h5, h6, 
h1>*, h2>*, h3>*, h4>*, h5>*, h6>* {font-family: var(--primary-font);}
/*  Fixes  
==================================================================================== */
/* Transition for Hover & Focus states */
*.trsn, *.trsn:hover, *.trsn:focus, 
a, a:hover, a:focus, 
button, button:hover, button:focus, 
button.button, button.button:hover, button.button:focus, 
input, input:hover, input:focus {text-decoration: none !important;outline: none !important;-webkit-transition: all 0.2s linear !important;-moz-transition: all 0.2s linear !important;-ms-transition: all 0.2s linear !important;-o-transition: all 0.2s linear !important;transition: all 0.2s linear !important;}
/* ====================================================================================
	GENERAL ELEMENTS
==================================================================================== */
.off-canvas-wrapper {background: #FFFFFF;}
.off-canvas-content {min-height: 600px;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;}
.main-container {width: 100% !important;overflow: hidden;}
/*	min-width 640px  */
@media only screen and (min-width: 640px) {
	.main-container {padding-top: 70px;}
	.main-container--client {padding-top: 0;}
}
/*	Google  */
.grecaptcha-badge { visibility: hidden; }
/*  Foundation Overrides  
==================================================================================== */
/*  Grid & Cells  */
.grid-padding-x>.cell {padding-right: .9375rem; padding-left: .9375rem;}
.grid-padding-x .grid-padding-x {margin-right: -.9375rem; margin-left: -.9375rem;}
.grid-x>.grid-container {width: 100%;}
.grid-container--full {max-width: 100% !important;padding-right: 0;padding-left: 0;}
.grid-container--full>.grid-x {max-width: 75rem !important; margin: 0 auto !important;}
.grid-container--full>.grid-x--full {max-width: 100% !important;}
/*  Off-Canvas Overrides  */
.off-canvas {z-index: 99999 !important;}
.js-off-canvas-overlay {background: rgba(0, 0, 0, .5);z-index: 9998;}
/*  Buttons  
==================================================================================== */
.button {font-family: var(--primary-font);font-weight: bold;margin-bottom: 0 !important;border:none !important;}
.button--radius {-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}
.button--circular {-webkit-border-radius: 100px !important;-moz-border-radius: 100px !important;border-radius: 100px !important;}
.button--full {width: 100% !important;}
.button--upp {text-transform: uppercase;}
/*	Button Pink  */
.button--pink, 
.button--secondary {color: #FFFFFF !important;background:var(--secondary-color) !important;}
.button--pink:hover, 
.button--pink:focus, 
.button--secondary:hover, 
.button--secondary:focus {color: #FFFFFF !important;background: var(--secondary-color-darker) !important;}
/* ====================================================================================
	HEADER
==================================================================================== */
.header {width: 100%;height: auto;background: var(--primary-color2);z-index: 9998;}
.header--full {border-bottom: 1px solid #EEEEEE;background:#FFFFFF !important;}
.header-content, 
.header-content__wrapper, 
.header-content__column {height: 100%;max-height: 100%;}
.header-content__column {padding-top: 0.9375rem;padding-bottom: 0.9375rem;}
.header-content__column--nav {border-bottom: 1px solid #EEEEEE;background: #FFFFFF;}
.header-content__brand {width: 100%;max-width: 120px;height: 35px;display: inline-block;}
.header-content__picture, 
.header-content__logo {width: 100%;height: 100%;display: block;}
.header-content__social {color: var(--primary-color);line-height: 35px;width: 20px;height: 35px;margin-right: 0.75rem;display: inline-block;}
.header-content__social:last-child {margin-right: 0;}
.header-content__social:hover, 
.header-content__social:focus {color: var(--secondary-color);}
/*	Header Nav  
==================================================================================== */
#header-nav {width: 100%;height: 35px;display: block;}
#header-nav>li {height: 100%;padding: 0 0.9375rem;display: inline-block;vertical-align: top;}
#header-nav>li>a {font-family: 'Roboto Condensed', sans-serif !important;font-size: 1rem;color: var(--secondary-color-darker);font-weight: 300;line-height: 35px;width: 100%;height: 35px;padding: 0 !important;display: block;border-bottom: 1px solid transparent;}
#header-nav>li>a:hover, 
#header-nav>li>a:focus {color:var(--primary-color-rgba2);}
#header-nav>li.current-menu-item>a {border-color:var(--secondary-color-rgb);}
/*	Header Media Queries  
==================================================================================== */
/*	min-width 640px  */
@media only screen and (min-width: 640px) {
	.header {height: 70px;position: fixed;top: 0;right: 0;left: 0;background: transparent;}
}
/* ====================================================================================
	PAGE CONTAINER
==================================================================================== */
.page-container {height: 100%;position: relative;}
/*	Page Heading  
==================================================================================== */
.page-heading {font-size: 0;color: transparent;text-indent: -9999px;height: 350px;background-position: center center;background-size: cover !important;background-repeat: no-repeat;}
/*	max-width 639px MOBILE */
@media only screen and (max-width: 639px) {
	.page-heading--home {background-image: url('Imagenes/aboutme_mobile.png');}
	.page-heading--about {background-image: url('');}
	.page-heading--projects {background-image: url('Imagenes/certificado_mobile.jpg');}
	.page-heading--contact {background-image: url('Imagenes/contacto_mobile.jpg');}
}
/*	min-width 640px  DESKTOP*/ 
@media only screen and (min-width: 640px) {
	.page-heading {width: 50%;height: 100vh;position: fixed;top: 0;left: 0;z-index: 9997;}
	.page-heading--home {background-image: url('Imagenes/aboutme_desktop.png');}
	.page-heading--about {background-image: url('');}
	.page-heading--projects {background-image: url('Imagenes/certificado_desktop.jpg');}
	.page-heading--contact {background-image: url('Imagenes/contacto_desktop.jpg');}
}
/*	Page Content  
==================================================================================== */
.page-content {padding: 1.875rem 1.5rem 1rem !important;}
.page-content__title {font-size: 1.5rem;margin: 0 0 0.5rem;}
.page-content__subtitle {font-size: 1.1rem;font-weight: bold;text-transform: uppercase;letter-spacing: 0.025rem;margin-bottom: 0.9375rem;padding-top: 0.25rem;}
.page-content__subtitle>small {font-weight: 400;font-size: 0.825rem;color: var(--primary-color-rgba5);line-height: 1;text-transform: initial;display: inline-block;vertical-align: top;position: relative;top: 7px;}
.page-content__divider {width: 100%;margin: 1.5rem auto;border-color: var(--primary-color-rgba1);}
.page-content__text {color: var(--primary-color);margin-bottom: 1.25rem;}
.page-content__text a {color:var(--secondary-color-darker);}
.page-content__text a:hover, 
.page-content__text a:focus {color:var(--primary-color-rgba2);text-decoration: underline !important;}
.page-content__text--tip {font-size: 0.875rem;font-style: italic;padding-left: 40px;position: relative;}
.page-content__text--tip>small {font-family: var(--primary-font);color: #FFFFFF;font-weight: bold;text-transform: uppercase;text-align: center;width: 30px;margin-right: 0.25rem;padding: 0.25rem 0;display: inline-block;vertical-align: top;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;position: absolute;top: -1px;left: 0;background: var(--secondary-color-rgba5);}
/*	Page List  */
.page-list {width: 100%;margin: 0;display: block;}
.page-list__item {width: 100%;margin-bottom: 1.25rem;padding-left: 1.5rem;display: block;position: relative;}
.page-list__item:before {width: 7px;height: 7px;content: "";display: block;position: absolute;top: 10px;left: 3px;-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);transform: rotate(45deg);background: var(--primary-color-rgba2);}
.page-list__title {font-family: var(--primary-font);font-size: 1.1rem;color: var(--secondary-color-darker);font-weight: 500;display: inline;-webkit-box-shadow: inset 0 0 white, inset 0 0 var(--secondary-color-rgba5);-moz-box-shadow: inset 0 0 white, inset 0 0 var(--secondary-color-rgba5);box-shadow: inset 0 0 white, inset 0 0 var(--secondary-color-rgba5);}
.page-list__title:hover, 
.page-list__title:focus {color: var(--primary-color-rgba2);-webkit-box-shadow: inset 0 3px white, inset 0 -3px var(--secondary-color-rgba5);-moz-box-shadow: inset 0 3px white, inset 0 -3px var(--secondary-color-rgba5);box-shadow: inset 0 3px white, inset 0 -3px var(--secondary-color-rgb2);}
.page-list__text {font-size: 0.875rem;color: var(--primary-color);margin-bottom: 0;padding-left: 0.9375rem;display: block;position: relative;}
.page-list__text:before {width: 6px;height: 6px;content: "";display: block;border-width: 2px 2px 0 0;border-style: solid;border-color: var(--primary-color-rgba2);position: absolute;top: 9px;left: 0;-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);transform: rotate(45deg);background: transparent;}
/*	Page Content Media Queries  */
/*	min-width 640px  */
@media only screen and (min-width: 640px) {
	.page-content {padding: 2.5rem 3rem 1.875rem !important;}
}
/* ====================================================================================
	FOOTER
==================================================================================== */
.footer {border-top: 1px solid #EEEEEE;}
.footer__content {padding: 1.5rem 1.5rem 0.5rem !important;}
.footer__copyright {font-size: 0.785rem;color: var(--primary-color-rgba5);margin-bottom: 0.9375rem;}
.footer__link {font-size: 0.9375rem;color: var(--primary-color-rgba5);margin-left: 0.5rem;}
.footer__link:first-child {margin-left: 0;}
.footer__link:hover, 
.footer__link:focus {color: var(--secondary-color);}
/*	min-width 640px  */
@media only screen and (min-width: 640px) {
	.footer__content {padding: 1.5rem 3rem 0.5rem !important;}
}
